div#buttonPanel {
    height: 25px;
    overflow: visible;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(239, 239, 239);
}
.cuerpo_pizarra .element-selected/*, .cuerpo_pizarra [tabindex="-1"]*/{
    border: 3px solid red !important;
}
.dropdown-menu {
    background-color: #EFEFEF;
}

.dropdown-menu > li > a:hover {
    background-color: rgba(110, 102, 101, 0.62);
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

div.btnContainer {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

.btnContainer div.btnCMP {
    z-index: 10000;
    height: 18px;
    overflow: hidden;
    cursor: pointer;
    background-position: -36px 0px;
    margin-top: inherit;
}

div.notas {
    cursor: move;
}

.dropdown-menu > li {
    position: relative;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.medias {
    cursor: move;
}

div#designer {
    border: 1px solid rgb(204, 204, 204)
}

div#cuerpo_editar {
    border: 1px solid rgb(204, 204, 204);
}
